<div class="container">

  <hr>

  <form name="vm.form">
    <div class="row">
      <div class="col-md-4">
        <label>Cliente</label>
        <input type="text" class="form-control" ng-model="vm.cliente.nome"/>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success">Add Cliente</button>
      </div>
    </div>
  </form>

  <div class="row">
    <br/>

    <div class="panel panel-default">
      <div class="panel-heading">
          Clientes
        <a href=""><span class="glyphicon glyphicon-repeat" tooltip="Buscar lista no server"></span></a>
      </div>

      <ul class="list-group">
        <li class="list-group-item text-warning" ng-if="!vm.clientes || vm.clientes.length===0">Não há clientes cadastrados</li>
        <li class="list-group-item" ng-repeat="cliente in vm.clientes track by $index">{{cliente.nome}}</li>
      </ul>
    </div>
  </div>

</div>
